*{
	padding: 0;
	margin: 0;
}


#wrapper{
	width:100%; 
	overflow:hidden; 
}

header{
	position:fixed;
	width:100%;
	/*background-color:#101830; */
	text-align:center;  
}

.icon-menu{ 
	height:70px;  
	font-size:30px; 
	color:white;
	display:none; 
}

header label{
	position:relative;
	top:20px;   
	font-family:arial;
	color:white;
	display: none; 
}

header input{
	display:none; 
}

header ul li{  
	display:inline-block; 
}

header a{ 
	margin:0 10px; 
	line-height:70px;
	color:white;  
	text-decoration:none;
	font-family:arial;
	box-sizing: border-box;
	padding:8px; 
	font-weight:600;
	border-radius:5px; 
	background-color:rgba(0,0,0, 0.4);  
}

header a:hover{
	transition:.2s;
	/*outline:3px solid #E83D27;*/
	border-bottom:1px solid #C3C2C2; 
	color:#C3C2C2;  
}

.logo{
	height:100vh; 
	background-attachment:fixed; 
	background-image:url("../images/negrogradiente1.jpg");
	background-repeat: no-repeat;
	background-size:100%;  
}

.logo p{
	position:absolute; 
	top:43%;  
	margin-left:50%;  
	font-size:45px; 
	font-weight:700; 
	line-height:60px; 
	width:400px;
	transform:translateX(-50%);  
	font-family:arial; 
	color:white;
	border:12px solid white;   
}

.perfil{
	background-color:yellow; 
}

.perfil img{
	width: 350px;
	height: 350px;
	border-radius:50%; 
	border:1px solid red;
	margin-top:50px; 
	margin-left:50%;
	transform:translateX(-50%);   
}

.perfil p{
	box-sizing:border-box;
	padding:50px 70px 50px 70px;
	text-align:center;     
}

.volver{
	display:none;   
}

.mostrar{
	text-align:center;
	line-height:40px;  
	position:fixed;
	width: 30px;;
	height: 30px;
	right:20px;
	bottom: 40px; 
	font-family:monospace;
	font-size:40px;
	padding:10px;
	color:#F2EBCB; 
	border-radius:50%; 
	background-color:#3C3131;
	text-decoration:none;
	display:block; 
}

/*Seccion del media para responsive*/
@media screen and (max-width:768px){

	.icon-menu{
		display:block;
		cursor:pointer;  
	}

	header label{
		display: block;
	}

	header label:hover{
		color:#3A3838; 
	}

	header label:hover span{
		color:#3A3838;
	}

	header a:hover{
		color:white;
		outline: 3px solid white;
	}

	header ul{
		z-index:5;
		transform:translateX(-100%); 
		width:100%; 
		position:absolute; 
		top:85px;
		left:0;
		transition: all 0.5s;  
	}

	header ul li{
		z-index:5;
		width:100%;
		background-color:#6B6969;  
	}

	header ul li:hover{
		z-index:5;
		background-color:#3A3838; 
	}

	#menu:checked ~ ul{
		transform:translateX(0); 
	}

	.logo p{
		font-size:25px; 
		width:80%; 
	}

}